.titleSection {
    position: fixed;
    left: 1em;
    bottom: 0.5em;
    opacity: 0.3;
    font-weight: bold;
    transition: opacity ease-in .2s;
}

    .titleSection:hover {
        opacity: 0.9;
    }

#playersList {
    opacity: 0.7;
    font-size: smaller;
    display: inline-block;
    position: absolute;
    bottom: 5em;
    left: 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

    #playersList span {
        display: block;
    }

#arena {
    display: none;
    z-index: -1;
    border: none;
    position: fixed;
    top: 0.3em;
    right: 0.3em;
    bottom: 0.3em;
    left: 0.3em;
}
    
    #arena canvas {
        position: fixed;
    }

body {
    font-size: 13px;
}

#registration {
    font-size: 3em;
    width: 15em;
    height: 4em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    #playerName {
        font-size: 1em;
        width: 100%;
        border-radius: 0.5em;
        border: solid #c24;
        padding: 0.2em;
    }

    #playButton {
        display:block;
        font-family: cursive;
        font-size: 0.7em;
        border: solid #c24;
        border-radius: 0.7em;
        background-color: #c24;
        color: #ffa;
        width: 6em;
        height: 3em;
        margin: 0.5em auto auto auto;
    }

    #playerName:focus,
    #playButton:focus {
        outline: none;
    }

    #help {
        font-size: 0.6em;
        margin-top: 2em;
    }

    #help span {
        display: block;
    }