.floating-title {
    position: fixed;
    left: 1vh;
    top: 1vh;
    opacity: 0.2;
    font-weight: bold;
    transition: all ease-in 0.2s;
}

.floating-title:hover {
    opacity: 0.9;
}

.dsp2016 {
    background-image: url(/Content/DSP2016.png);
    background-size: contain;
    width: 21px;
    height: 48px;
    display: inline-block;
}