.titleSection {
    position: fixed;
    left:    1vh;
    bottom:  1vh;
    opacity: 0.3;
    font-weight: bold;
    transition: opacity ease-in .2s;
}

.titleSection:hover {
    opacity: 0.9;
}

.dsp2016 {
    background-image: url(/Content/DSP2016.png);
    background-size: contain;
    width: 21px;
    height: 48px;
    display: inline-block;
}